<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
{% load custom_filters %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>10 Rivals - Online Amateur Tennis League</title>
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault"  class="bg-purple-100">
            <div id="layoutDefault_content">
                <div>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-purple-100 navbar-light">
                        <div class="container px-5">
                            <a class="navbar-brand" href="/"><img src="{% static 'assets/img/TenRivals Logo.svg'%}" alt="Ten Rivals Logo" style="transform: scale(0.95); height: auto;"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/tournaments/">Tournaments</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index.html">Ranking</a></li>

                                    <li class="nav-item"><a class="nav-link" href="index.html">FAQ</a></li>

                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Landings
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                                            <div class="row g-0">
                                                <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style="background-image: url('assets/img/backgrounds/bg-dropdown-xl.jpg')">
                                                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                        <div class="text-white text-center z-1">
                                                            <div class="mb-3">Multipurpose landing pages for a variety of projects.</div>
                                                            <a class="btn btn-white btn-sm text-primary fw-500" href="index.html">View All</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 p-lg-5">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">Applications</h6>
                                                            <a class="dropdown-item" href="landing-app-mobile.html">Mobile App</a>
                                                            <a class="dropdown-item" href="landing-app-desktop.html">Desktop App</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                            <h6 class="dropdown-header text-primary">Business</h6>
                                                            <a class="dropdown-item" href="landing-multipurpose.html">Multipurpose</a>
                                                            <a class="dropdown-item" href="landing-agency.html">Agency</a>
                                                            <a class="dropdown-item" href="landing-press.html">Press</a>
                                                            <a class="dropdown-item" href="landing-directory.html">Directory</a>
                                                            <a class="dropdown-item" href="landing-rental.html">Rental</a>
                                                            <a class="dropdown-item" href="landing-real-estate.html">Real Estate</a>
                                                            <a class="dropdown-item" href="landing-classifieds.html">Classifieds</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                            <h6 class="dropdown-header text-primary">Lead Generation</h6>
                                                            <a class="dropdown-item" href="landing-lead-capture.html">Lead Capture</a>
                                                            <div class="dropdown-divider border-0 d-lg-none"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">Personal</h6>
                                                            <a class="dropdown-item" href="landing-resume.html">Resume</a>
                                                            <a class="dropdown-item" href="landing-portfolio.html">Portfolio</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                            <h6 class="dropdown-header text-primary">Header Styles</h6>
                                                            <a class="dropdown-item" href="header-basic.html">Basic</a>
                                                            <a class="dropdown-item" href="header-basic-signup.html">Basic (Signup)</a>
                                                            <a class="dropdown-item" href="header-graphic.html">Graphic</a>
                                                            <a class="dropdown-item" href="header-graphic-signup.html">Graphic (Signup)</a>
                                                            <a class="dropdown-item" href="header-video.html">
                                                                Video Header
                                                                <span class="badge bg-primary-soft text-primary ms-1">New!</span>
                                                            </a>
                                                            <a class="dropdown-item" href="header-inner-page.html">Inner Page</a>
                                                            <a class="dropdown-item" href="header-nav-only.html">Nav Only</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% if user.is_authenticated %}
                                                {{ request.user.preferred_city|const_replace }}
                                            {% else %}
                                                All Cities
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                                            <div class="row g-0">
                                                <div >
                                                    {%for geo in geo_list%}

                                                        <h6 class="dropdown-header text-primary">{{geo.1}}</h6>
                                                        {% for city in cities_list %}
                                                            {% if city.1|last_sym:2 == geo.0%} <a class="dropdown-item" href="#!">{{ city.1|minus_last_sym:4 }}</a> {% endif %}
                                                        {% endfor %}
                                                        <div class="dropdown-divider border-0"></div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                                <a class="btn fw-500 ms-lg-4 btn-pepper-purple" href="{% url 'account_login' %}">
                                    Login
                                    <i class="ms-2" data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </nav>


        {% block base_content %}
        {% block content %}
        {{ flatpage.content }}
        {% endblock content %}
        {% endblock base_content %}


                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center">
                                <div class="col-lg-6">
                                    <h4>Get the app now!</h4>
                                    <p class="lead mb-5 mb-lg-0">Ready to get started? Download the app now!</p>
                                </div>
                                <div class="col-lg-6 text-lg-end">
                                    <a class="me-3" href="#!"><img src="assets/img/app-badges/app-store-badge.svg" style="height: 3rem" /></a>
                                    <a href="#!"><img src="assets/img/app-badges/google-play-badge.svg" style="height: 3rem" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-waves text-dark">
                            <!-- Wave SVG Border-->
                            <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                                <defs>
                                    <style>
                                        .a {
                                            fill: none;
                                        }
                                        .b {
                                            clip-path: url(#a);
                                        }
                                        .d {
                                            opacity: 0.5;
                                            isolation: isolate;
                                        }
                                    </style>
                                </defs>
                                <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
                                <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                                <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                                <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                                <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                            </svg>
                        </div>
                    </section>
                </div>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container px-5">
                        <div class="row gx-5">
                            <div class="col-lg-3">
                                <div class="footer-brand">10* RIVALS</div>
                                <div class="mb-3">Online Amateur Tennis League</div>
                                <div class="icon-list-social mb-5">
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-github"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row gx-5">
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Product</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Landing</a></li>
                                            <li class="mb-2"><a href="#!">Pages</a></li>
                                            <li class="mb-2"><a href="#!">Sections</a></li>
                                            <li class="mb-2"><a href="#!">Documentation</a></li>
                                            <li><a href="#!">Changelog</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Documentation</a></li>
                                            <li class="mb-2"><a href="#!">Changelog</a></li>
                                            <li class="mb-2"><a href="#!">Theme Customizer</a></li>
                                            <li><a href="#!">UI Kit</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Utilities</a></li>
                                            <li class="mb-2"><a href="#!">Components</a></li>
                                            <li class="mb-2"><a href="#!">Layouts</a></li>
                                            <li class="mb-2"><a href="#!">Code Samples</a></li>
                                            <li class="mb-2"><a href="#!">Products</a></li>
                                            <li class="mb-2"><a href="#!">Affiliates</a></li>
                                            <li><a href="#!">Updates</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Privacy Policy</a></li>
                                            <li class="mb-2"><a href="#!">Terms and Conditions</a></li>
                                            <li><a href="#!">License</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div class="row gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2023</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>
