{% extends 'default.html' %}
{% load static %}
{% load custom_tags %}
{% load custom_filters %}
{% block content %}

<header class="page-header page-header-dark bg-dual-color-primary-secondary pb-2">
    <div class="container-xl px-4">
        <div class="page-header-content pt-10">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        Tournaments
                    </h1>
                    <div class="page-header-subtitle">Select a tournament for you and let's get started!</div>
                </div>
              
                <div mt-4>
                    <nav class="mt-4 rounded " aria-label="breadcrumb">
                        <ol class="breadcrumb px-3 py-2 rounded mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Tournaments</a></li>
                            
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n5">
    <!-- Introductory Card -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">All Tennis Tournaments</h5>
            {% if user.is_staff %}
                <div><a href="{% url 'rivals:tournament_add' %}" class="btn btn-dark">
                    <i class="fas fa-plus-circle me-2"></i> Add Tournament
                </a>
                </div>
            {% endif %}
            </div>
            <div class="card-body">
            <p class="card-body">Here you can manage and browse through all the tennis tournaments. Use the filters on the left to narrow down your search and find the perfect tournament for you.</p>
        </div>
    </div>

    <div class="row">
        <!-- Tournament Filters -->
        <div class="col-lg-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-secondary text-white">
                    <i class="fas fa-filter mr-2"></i> Tournament Filters
                </div>
                <div class="card-body">
                    <form id="filter-form" method="get" action="{% url 'rivals:tournaments' %}">
                        <!-- Tournament Format -->
                        <div class="form-group">
                            <label for="format">Format</label>
                            <select class="form-control" name="format" id="format" onchange="document.getElementById('filter-form').submit()">
                                <option value="">All Formats</option>
                                {% for choice in filterset.form.format %}
                                    <option value="{{ choice.data.value }}" {% if choice.data.selected %}selected{% endif %}>{{ choice.choice_label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Tournament Gender -->
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="gender" id="gender" onchange="document.getElementById('filter-form').submit()">
                                <option value="">All Genders</option>
                                {% for choice in filterset.form.gender %}
                                    <option value="{{ choice.data.value }}" {% if choice.data.selected %}selected{% endif %}>{{ choice.choice_label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Tournament Category -->
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" name="category" id="category" onchange="document.getElementById('filter-form').submit()">
                                <option value="">All Categories</option>
                                {% for choice in filterset.form.category %}
                                    <option value="{{ choice.data.value }}" {% if choice.data.selected %}selected{% endif %}>{{ choice.choice_label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Hidden Field for User's Preferred City -->
                        <input type="hidden" name="city" value="{{ user.player.preferred_city }}">

                        <button type="submit" class="btn btn-primary mt-3 w-100">Filter</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tournament List -->
        <div class="col-lg-9">
            <!-- Tournaments Header -->
         

            <div class="row gx-5">
                {% for tournament in tournaments %}
                    <div class="col-xxl-4 col-xl-6 col-sm-6 mb-5">
                        <a class="card lift h-100" href="{% url 'rivals:tournament_detail' tournament.pk %}">
                            <div class="card-flag card-flag-dark card-flag-top-right">{{ tournament.status|const_replace }}</div>
                            <img class="card-img-top" src="{% if tournament.image %}{{ tournament.image.url }}{% else %}{% static 'assets/img/illustrations/default tournament image.jpg' %}{% endif %}" alt="{{ tournament.title|default:'Unnamed Tournament' }}" style="object-fit: cover; height: 200px; width: 100%;" />
                                <div class="card-body">
                                    <h4 class="text-primary mb-1">{{ tournament.title|default:"Untitled Tournament" }}</h4>
                                    <div class="d-flex justify-content-between mb">
                                        <div class="small text-gray-500 mb-4">{{ tournament.type|const_replace }}</div>
                                        <span class="text-muted small">
                                            <i data-feather="map-pin" class="me-1"></i>{{ tournament.get_city_display }}
                                        </span>
                                    </div>
                                    
                                    <div class="small text-gray-800 fw-500">{{ tournament.gender|const_replace }} | {{ tournament.format|const_replace }} | {{ tournament.category|const_replace }}</div>
                                    <div class="small text-gray-500">Registered Players: {{ tournament.players_enrolled }}/{{ tournament.players_num }}</div>
                                
                            </div>
                            <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                <div class="small text-gray-500">View Details</div>
                                <div class="small text-gray-500"><i data-feather="arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="alert alert-warning text-center" role="alert">
                            No available tournaments for the selected filters.
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
                        {% if page_obj.previous_page_number != 1 %}
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <!-- Additional page numbers can be added here -->
                    {% if page_obj.has_next %}
                        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>


{% endblock %}
