<nav class="staff-nav" aria-label="Staff navigation">
  <div class="staff-nav__group">
    <div class="staff-nav__label">Catalog</div>
    <a href="{% url 'administration:staff_stock' %}" class="staff-nav__link {% if staff_nav_active == 'stock' %}is-active{% endif %}">In stock</a>
    <a href="{% url 'administration:staff_preorder' %}" class="staff-nav__link {% if staff_nav_active == 'preorder' %}is-active{% endif %}">Preorder</a>
    <a href="{% url 'administration:staff_stock_stats' %}" class="staff-nav__link {% if staff_nav_active == 'stock_stats' %}is-active{% endif %}">Stock stats</a>
    <a href="{% url 'administration:staff_collections' %}" class="staff-nav__link {% if staff_nav_active == 'collections' %}is-active{% endif %}">Collections</a>
  </div>
  <div class="staff-nav__group">
    <div class="staff-nav__label">Sales</div>
    <a href="{% url 'administration:staff_sales_orders' %}" class="staff-nav__link {% if staff_nav_active == 'sales_orders' %}is-active{% endif %}">Orders</a>
    <a href="{% url 'administration:staff_customers' %}" class="staff-nav__link {% if staff_nav_active == 'customers' %}is-active{% endif %}">Customers</a>
    <a href="{% url 'administration:staff_sales_analytics' %}" class="staff-nav__link {% if staff_nav_active == 'sales_analytics' %}is-active{% endif %}">Analytics</a>
    <a href="{% url 'administration:staff_order_finance' %}" class="staff-nav__link {% if staff_nav_active == 'order_finance' %}is-active{% endif %}">Orders finance</a>
    <a href="{% url 'administration:staff_order_for_me_list' %}" class="staff-nav__link {% if staff_nav_active == 'order_for_me' %}is-active{% endif %}">Order for me</a>
  </div>
  {% if perms.buying.view %}
  <div class="staff-nav__group">
    <div class="staff-nav__label">Buying</div>
    <a href="{% url 'administration:buying_requests' %}" class="staff-nav__link {% if staff_nav_active == 'buying_requests' %}is-active{% endif %}">Buying requests</a>
    <a href="{% url 'administration:buying_request_new' %}" class="staff-nav__link {% if staff_nav_active == 'buying_new' %}is-active{% endif %}">New request</a>
    <a href="{% url 'administration:buying_suppliers' %}" class="staff-nav__link {% if staff_nav_active == 'buying_suppliers' %}is-active{% endif %}">Suppliers</a>
    <a href="{% url 'administration:buying_connectors' %}" class="staff-nav__link {% if staff_nav_active == 'buying_connectors' %}is-active{% endif %}">Connector status</a>
    <a href="{% url 'administration:buying_ai_diagnostics' %}" class="staff-nav__link {% if staff_nav_active == 'buying_ai' %}is-active{% endif %}">AI diagnostics</a>
    <a href="{% url 'administration:buying_mappings' %}" class="staff-nav__link {% if staff_nav_active == 'buying_mappings' %}is-active{% endif %}">Product mappings</a>
    <a href="{% url 'administration:buying_routes' %}" class="staff-nav__link {% if staff_nav_active == 'buying_routes' %}is-active{% endif %}">Fulfillment routes</a>
    <a href="{% url 'administration:buying_pricing_rules' %}" class="staff-nav__link {% if staff_nav_active == 'buying_rules' %}is-active{% endif %}">Pricing rules</a>
    <a href="{% url 'administration:buying_fx_rates' %}" class="staff-nav__link {% if staff_nav_active == 'buying_fx' %}is-active{% endif %}">FX rates</a>
    <a href="{% url 'administration:buying_optimization_rules' %}" class="staff-nav__link {% if staff_nav_active == 'buying_optimization' %}is-active{% endif %}">Optimization rules</a>
  </div>
  {% endif %}
  <div class="staff-nav__group">
    <div class="staff-nav__label">Marketing</div>
    <a href="{% url 'administration:staff_home_banners' %}" class="staff-nav__link {% if staff_nav_active == 'banners' %}is-active{% endif %}">Shop home</a>
    <a href="{% url 'administration:staff_blog_posts' %}" class="staff-nav__link {% if staff_nav_active == 'blog' %}is-active{% endif %}">Blog</a>
    <a href="{% url 'administration:staff_promo_codes' %}" class="staff-nav__link {% if staff_nav_active == 'promo_codes' %}is-active{% endif %}">Promo codes</a>
  </div>
  <div class="staff-nav__group">
    <div class="staff-nav__label">Administration</div>
    <a href="{% url 'administration:staff_users' %}" class="staff-nav__link {% if staff_nav_active == 'users' %}is-active{% endif %}">Users</a>
    {% if user.is_superuser %}
    <a href="{% url 'admin:index' %}" class="staff-nav__link">Django admin</a>
    {% endif %}
  </div>
</nav>
